body{
    background-image: url(images/background.jpg);
    background-size: cover;
   background-repeat: no-repeat;
   
    color: white;
    font-family: "Merriweather", serif;
    
}

#imageContainer{
position: relative; 
left: 240px;
bottom: 427px;  
border: 2px solid white;
width: 358px;
height: 420px;
z-index: 0;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
}
#store{
    position: relative;
   left:630px ;
   text-align: center;
   bottom: 860px;
   border: 2px bisque solid;
   width: 220px;
   height: 420px;
}
#do{
    background-color: black;
    padding: 5px;
    position: relative;
    bottom: 10px;
    display: block;
    padding-left: 15px;
    width: 1000px;
    right: 20px;
}
#cookieContainer{
    border: solid 2px;
    width: 220px;
    padding: 5px;
    text-align: center;
    height: 420px;
    
}
#cookie {
    background-color: transparent;
    border:none;
    transition-duration: 1s;
}
    
#cookie:active{
transform: scale(1.1);
}
    
  